/* @import "~bootstrap/scss/bootstrap";

.wrapper {
    display: flex;
    align-items: stretch;
    background-color: yellow;
    border: white solid;
}
.top-bar {
    border: white solid;
}
.sidebar {
    border: white solid;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.sidebar.active {
    border: yellow solid;
}

.content {
    flex-grow: 1;
    border: white solid;
} */